.header-nav{
    display: block;
    height: auto;
    background-color: rgb(28, 6, 75);
    color: white;
    font-weight: bolder;
    z-index: 1;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 20% 75% 5%;
    padding-block: 1rem;
    transition: all 0.5s ease-in-out;
}

.header-nav-change{
   
    background-color: rgba(28, 6, 75, 0.753);


}
.header-logo{
    font-size: 30px;
}
.header-menus{
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: white !important;
    align-items: center;
}
.header-menus .menu{
    color: white !important;
    text-decoration: none;
    margin-inline: 10px;
    transition: all 0.5s;
}
.header-menus .menu img{
    width: 35px;
    margin: auto !important;
    transition: all 0.5s ease-in-out;
}
.header-menus .menu:hover{
    color: rgb(128, 222, 19) !important;
   text-decoration: underline;
}

.profile-btn{
    margin: auto;
    display: flex;
    align-items: center;
}
.header-menus .menu img:hover{
   transform: scale(1.1);
}





